*{
   
    padding: 0;
    box-sizing: border-box;
   

}

.bannerzz{

    
    

        /* ff 3.6+ */
        background:-moz-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 220, 255, 1) 100%); 
    
        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 220, 255, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 220, 255, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31DCFF', endColorstr='#4CAF50', GradientType=0 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 220, 255, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(49, 220, 255, 1) 100%);
    
    
        
   
    height: 190vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: relative;
}


.bannerzz .waves{

    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}


.bannerzz .wavez{

    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}






.applyDocimg{

    width: 100%;
    height: 500px;
}


.bannerImagezz{

    background: url('../../../Images/bookAppoiPic.jpg');
     height: 100vh;
    background-size: cover;
    
    overflow: hidden;
    background-repeat: no-repeat;
    padding-top: 300px;
    position: relative;
   
    
}
